<form [formGroup]='taskForm'>
    <input type="text" class="task-name input-block" placeholder="Add new task..." formControlName='name'>
    <div class="description">
        <label>Description</label><br />
        <textarea name="" id="" cols="30" rows="10" formControlName='description'></textarea><br />
    </div>
    <div class="row">
        <div class="due-date">
            <label for="">Due Date</label><br />
            <input type="date" formControlName='dueDate' class="input-block">
        </div>
        <div class="piority">
            <label for="piority">Piority</label><br />
            <select name="piority" formControlName='piority'>
                <option value="0">low</option>
                <option value="1">normal</option>
                <option value="2">high</option>
            </select>
        </div>
    </div>
    <button class="add-btn" (click)='addTask()'>Add</button>
</form>