.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border: 1px solid #111;
    margin-top: 15px;
    .item-name {
        input {
            margin-right: 10px;
        }
    }
    .action {
        .btn {
            padding: 8px 15px;
            border: none;
            border-radius: 4px;
            color: #fff;
            margin: 0 8px;
            &.detail {
                background-color: #00bcd4;
            }

            &.remove {
                background-color: #db5e5e;
            }
        }
    }
}

.detail-area {
    display: none;
}
