.wrapper {
    display: flex;
    margin: 10px 20px;
    div {
        border: 1px solid #111;
        &.new-task {
            width: 40%;
            padding: 2vh 3vw 3vh 2vw;
        }
        &.todo-list {
            width: 60%;
            border-left: 0;
            padding: 2vh 4vw 3vh 3vw;
        }
    }
}

@media only screen and (max-width: 680px ) {
    .wrapper {
        flex-direction: column;
        .new-task {
            width: 100% !important;
        }
        .todo-list{
            width: 100% !important;
            border-top:none;
            border-left: 1px solid #111 !important;
        }
    }
}
